/****
 * 系统主题
 */

/* 设置全局字体为思源宋体 */
body, html {
  font-family: 'Heiti SC', sans-serif;
  font-weight: lighter;
}

/* 亮 主题样式 */
.light-theme {
  /* AppAside AppHeader 背景样式 */
  .aside-bg, .header-bg {
    background-color: #fff;
    color: #333;
  }
  /* AppMain 背景样式 */
  .main-bg {
    background-color: #efefef;
    color: #333;
  }
  /**
   * 用户和机器人对话卡 字体颜色
   * 输入框 字体颜色
   * 欢迎页介绍文本 字体颜色
   * 页眉 字体颜色
   * 文档页 字体颜色
   * 输入框 边框颜色
   */
  --common-color: black;
  /* 用户和机器人对话卡 底部提示信息字体颜色
   * 侧边栏 标题栏 字体颜色
   */
  --answer-stats-color: #888;
  /* 布局背景 不需要 */
  --layout-common-layout-bg: none;
  /* 发送框背景 */
  --sendBox-bg-color: white;
  /* 侧边栏选中和hover背景 */
  --aside-active-hover-bg: rgba(98, 108, 126, 0.1);
  /**
   * 侧边栏 右侧边框颜色
   * 侧边栏/工具栏 边框颜色
   */
   --app-small-border-color: #ccc;
}

/* 暗黑 主题样式 */
.dark-theme {
  /* AppAside AppHeader 背景样式 */
  .aside-bg, .header-bg {
    background-color: #333;
    color: #fff;
  }
  /* AppMain 背景样式 */
  .main-bg {
    background-color: #444;
    color: #fff;
  }
  /**
   * 用户和机器人对话卡 字体颜色
   * 输入框 字体颜色
   * 欢迎页介绍文本 字体颜色
   * 页眉 字体颜色
   * 文档页 字体颜色
   * 输入框 边框颜色
   */
  --common-color: white;
  /* 用户和机器人对话卡 底部提示信息字体颜色
   * 侧边栏 标题栏 字体颜色
   */
  --answer-stats-color: #888;
  /* 布局背景 不需要 */
  --layout-common-layout-bg: none;
  /* 发送框背景 */
  --sendBox-bg-color: #333;
  /* 侧边栏选中和hover背景 */
  --aside-active-hover-bg: rgba(167, 182, 209, 0.1);
  /**
   * 侧边栏 右侧边框颜色
   * 侧边栏/工具栏 边框颜色
   */
   --app-small-border-color: #555;
}

/* 毛玻璃 主题样式 */
.glass-theme {
  /* AppAside AppHeader 背景样式 */
  .aside-bg, .header-bg {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: #333;
  }
  /* AppMain 背景样式 */
  .main-bg {
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    color: #333;
  }
  /**
   * 用户和机器人对话卡 字体颜色
   * 输入框 字体颜色
   * 欢迎页介绍文本 字体颜色
   * 页眉 字体颜色
   * 文档页 字体颜色
   * 输入框 边框颜色
   */
  --common-color: black;
  /* 用户和机器人对话卡 底部提示信息字体颜色 */
  --answer-stats-color: #888;
  /* 布局背景 */
  --layout-common-layout-bg: var(--custom-bg, url('../images/bg.jpg')) center center;
  /* 发送框背景 */
  --sendBox-bg-color: white;
  /* 侧边栏选中和hover背景 */
  --aside-active-hover-bg: rgba(98, 108, 126, 0.1);
  /**
   * 侧边栏 右侧边框颜色
   * 侧边栏/工具栏 边框颜色
   */
  --app-small-border-color: #ccc;
}

.el-row {
  margin-bottom: 20px;
}

.el-row:last-child {
  margin-bottom: 0;
}

.el-col {
  border-radius: 4px;
}

.grid-content {
  border-radius: 4px;
  min-height: 36px;
}

.dashed-border {
  border: 1px dashed grey;
}
